<template>
  
</template>

<script>
import { mapGetters, mapActions } from 'vuex';

export default {
  name: 'login',

  data() {
    return {
      email: '',
      password: ''
    };
  },

  computed: {
    ...mapGetters('auth', [ 'authenticating', 'authenticationError', 'authenticationErrorCode'])
  },

  methods: {
    ...mapActions('auth', ['login']),

    handleSubmit() {
      if (this.email != '' && this.password != '') {
        this.login({email: this.email, password: this.password})
      }
    }
  }
}
</script>

<style>

</style>